
h1, h2, h3, h4, h5, h6{
	color: #010D00;
	font-family: sans-serif;
	
}

p{
	color: #010D00;
	font-family: sans-serif;	
	padding: 12px;
}

body{
	background-color: #242625;
}

#wrapper{
	margin:0 auto;
	width: 960px;
}

#greeting .name{
	text-align: center;
	font-family:Cinzel Decorative;
	font-size: 5em;
	color: #025E73;
}

/* SUCCESSFUL NAVIGATION HORIZONTAL BAR */

#navigation li {
    list-style: none;
    display: block;
    float: left;
    margin: 1em auto;
    padding-right: 52px;
}


#navigation li a {
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    display: block;
    text-decoration: none;
    color: #010D00;
    font-size: 1.6em;
    margin: 0 .5em;
    font-family: sans-serif;

}

#navigation li a:hover {
   	margin-top: 5px;
}

#navigation_container {
   margin: 0 auto;
   width: 960px;
}

.rectangle {
   background: #037F8C;
   height: 62px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 2em 0;
}

/* SUCCESSFUL NAV HORIZONTAL BAR */


/* Greeting Page */

#hello_text {
   background: #037F8C;
   height: 400px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-left: 0;

}

#hello{
	margin: 10px 10px 0 10px;
}

#products {
	display: inline;
	float: left;
	margin-left: 220px;
}

.prod_1{
	float: left;
}

.prod_2{
	float: left;
	margin-left: 220px;
}

.prod_3{
	float: left;
	margin-left: 220px;
}

/* Hi style */
.hi {
	font-size: 2em;
	font-weight: bold;
}

.hi ul li{
	list-style: none;
}

/* Resume styling */

#resume_container {
   margin-top: 50px;
   background: #037F8C;
   height: 900px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-left: 0;

}

#resume{
	margin: 10px 10px 0 10px;
}

.resume_head{
	color: #010D00;
	font-size: 2em;
	font-weight: bold;
	font-family: sans-serif;
}

#resume_section li{
	padding-bottom: 5px;
	list-style: none;
	color: #010D00;
	font-family: sans-serif;
}

/* Portfolio styling */

#portfolio_container{
	
   margin-top: 50px;
   background: #037F8C;
   height: 1200px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-left: 0;
	
}

.portfolio{
	margin: 10px 10px 0 10px;
}



/* timeline styling */

.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
    padding-bottom: 100px;
}

.ss-container:before{
    position: absolute;
    width: 4px;
    background: rgba(17,17,22,0.8);
    top: 0px;
    left: 50%;
    margin-left: -2px;
    content: '';
    height: 650px;
}

.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}

.ss-left, .ss-right{
    float: left;
    width: 48%;
    position: relative;
}

.ss-right{
    padding-left: 2%;
}

.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}

.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: #010D00;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    padding: 20px 0px;
}


.ss-container h3{
    margin-top: 34px;
    padding: 10px 15px;
    background: rgba(26, 27, 33, 0.6);
    text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8)
}

.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    /*text-indent: -9000px;*/
    text-align: left;
    box-shadow: 
        0px 2px 5px rgba(0,0,0,0.7) inset, 
        0px 0px 0px 12px rgba(61,64,85,0.3);
    background-size: cover;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center center;
}

.ss-small .ss-circle{
    width: 100px;
    height: 100px;
}

.ss-medium .ss-circle{
    width: 200px;
    height: 200px;
}

.ss-large .ss-circle{
    width: 300px;
    height: 300px;
}

.ss-left .ss-circle{
    float: right;
    margin-right: 30%;
}

.ss-right .ss-circle{
    float: left;
    margin-left: 30%;
}

.ss-circle-deco:before{
    width: 29%;
    height: 0px;
    border-bottom: 5px dotted #ddd;
    border-bottom: 5px dotted rgba(17, 17, 22, 0.3);
    box-shadow: 0px 1px 1px #fff;
    position: absolute;
    top: 50%;
    content: '';
    margin-top: -3px;
}

.ss-left .ss-circle-deco:before{
    right: 2%;   
}

.ss-right .ss-circle-deco:before{
    left: 2%;   
}

.ss-circle-deco:after{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.ss-left .ss-circle-deco:after{
    right: 0;
    border-right: 10px solid rgba(17,17,22,0.8);
}

.ss-right .ss-circle-deco:after{
    left: 0;
    border-left: 10px solid rgba(17,17,22,0.8);
}

.ss-container .ss-medium h3{
    margin-top: 82px;
}

.ss-container .ss-large h3{
    margin-top: 133px;
}

.ss-container .ss-left h3{
    border-right: 5px solid rgba(164,166,181,0.8);
}

.ss-container .ss-right h3{
    border-left: 5px solid rgba(164,166,181,0.8);
}

.ss-container h3 span{
    color: rgba(255,255,255,0.8);
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
}

.ss-container h3 a{
    font-size: 28px;
    color: rgba(255,255,255,0.9);
    display: block;
}

.ss-container h3 a:hover{
    color: rgba(255,255,255,1);
}

/*Portfolio Circle images */
.ss-circle-1{
    background-image:url(../images/s&f_5.png);
}

.ss-circle-2{
    background-image: url(../images/pelicanbreeze.png);
}

.ss-circle-3{
    background-image: url(../images/3.jpg);
}

/* Mind style */

#mind_container{
   margin-top: 50px;
   background: #037F8C;
   height: 800px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-left: 0;
	
}

.mind{
	margin: 10px 10px 0 10px;
}

.skills{
	margin: 10px 10px 0 10px;;
}

.skill_ratings{
	margin: 10px 10px 0 10px;
	display: block;
	
}

.php{
	background: #010D00;
	width: 60%;
	height: 20px; 
	position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
	
}

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.orange > span {
	background-color: #f1a165;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}

.red > span {
	background-color: #f0a3a3;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}

.meter > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.meter > span:after, .animate > span > span {
  -webkit-animation: move 2s linear infinite;
}

@-webkit-animation expandWidth {
   0% { width: 0; }
   100% { width: auto; }
}

/*Contact Form styling */

#contact_container{
   margin-top: 50px;
   background: #037F8C;
   height: 950px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-left: 0;

}

.contact{
	margin: 10px 10px 0 10px;
}

#content{

	position:relative;
	margin:50px auto;   
	width:400px;
	min-height:200px;
	z-index:100;
	padding:30px;
	border:1px solid #383838;   
	background: #D1D1D1;
	/* My stripped background */
	background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
	border-radius:8px;
	box-shadow:0px 1px 6px #3F3F3F;

}

#content:after{
	background:#F9F9F9;
	margin:10px;
	position: absolute;
	content : " ";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1; 
	border:1px #E5E5E5 solid;       
	border-radius:8px;
}

h1 {
	font-family: 'Questrial', Verdana, sans-serif;
	text-align:center;
	font-size:40px;
	padding:0;
	margin:0 0 20px 0;
	position:relative;
	color:#8C8C8C;
}
 
/** have a nice ampersand **/
h1:after {
	font-size:25px;
	color:#D6CFCB;
	/*content: '&';*/
	text-align:center;
	display:block;
	width:100%;
	font-family: 'Alice', Verdana, serif;
	text-shadow: 0px 1px 0px #fff;
}
 
/** create the gradient bottom **/
h1:before {
	position:absolute;
	bottom:15px;
	content: ' ';
	text-align:center;
	display:block;
	height:2px;
	width:100%;
	background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%);
}

/** adding our icon font !! */
@font-face {
font-family: 'IconicStroke';
src: url('../font/iconic_stroke.eot');
src: url('../font/iconic_stroke.eot?#iefix') format('embedded-opentype'),
url('../font/iconic_stroke.woff') format('woff'),
url('../font/iconic_stroke.ttf') format('truetype'),
url('../font/iconic_stroke.svg#IconicStrokeRegular') format('svg');
font-weight: normal;
font-style: normal;
}
 
.iconic:before{
font-size:25px;
font-family: "IconicStroke";
}
/*
.iconic.link:before { content: '/'; }
.iconic.quote-alt:before { content: "'"; }
.iconic.comment:before { content: "q"; }
.iconic.user:before { content: "u"; }
.iconic.mail-alt:before { content: "M"; }
*/

/** we remove the red glow around required fields since we are already using the red star */
input:required, textarea:required {
-moz-box-shadow:none; 
-webkit-box-shadow:none; 
-o-box-shadow:none; 
box-shadow:none; 
}

/** inputs and textarea**/
input:not([type="submit"]),
textarea{
outline:none;
display:block;
width:380px;
padding:4px 8px;
border:1px dashed #DBDBDB;
color:#3F3F3F;
font-family:'Droid Sans',Tahoma,Arial,Verdana sans-serif;
font-size:14px;
border-radius:2px;
transition:background 0.2s linear,
box-shadow 0.6s linear;
}

input:not([type="submit"]):active,
textarea:active,
input:not([type="submit"]):focus,
textarea:focus{
background:#F7F7F7;
border:dashed 1px #969696;
box-shadow:2px 2px 7px #E8E8E8 inset;
}

input:not([type="submit"]){
height: 20px;
}

textarea{
min-height:150px;
resize:vertical
}

/* placeholder */
::-webkit-input-placeholder  {
color:#BABABA;
font-style:italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
color:#BABABA;
font-style:italic;
}

/** Styling the send button **/
input[type=submit]{
margin-left:345px;


cursor:pointer;
background:none;
border:none;
font-family: 'Alice',serif;
color:#767676;
font-size:18px;
padding:10px 4px;
border:1px solid #E0E0E0;
text-shadow: 0px 1px  1px #E8E8E8;
background: rgb(247,247,247);
background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
border-radius:5px;
box-shadow:0px 1px 1px #FFF inset,           
0 0 0px 5px #EAEAEA;
transition:all 0.2s linear;
}
 
input[type=submit]:hover{
color:#686868;
border-color: #CECECE;
background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
box-shadow:0px 1px 1px #FFF inset,
0 0 0px 5px #E0E0E0;       
}
 
input[type=submit]:active,
input[type=submit]:focus{
position:relative;
top:1px;
color:#515151;
background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
box-shadow:0px -1px 1px #FFF inset,
0 0 0px 5px #E0E0E0;
}

label{
color:#7F7E7E;
-webkit-transition: color 1s ease;
-moz-transition: color 1s ease;
transition: color 1s ease;
}
label:hover{
color:#191919;
}
label:before{
color:#C1BFBD;
transition: color 1s ease;
}
label:hover:before{
color:#969696;
transition: color 1s ease;
}
 
p{
margin-bottom:20px;
}
.indication{
color:#878787;
font-size:12px;
font-style:italic;
text-align:right;
padding-right:10px;
}
.required{
color:#E5224C;
}

/* Footer styling */


#footer_wrapper{
	margin:0 auto;
	width: 960px;
}

#footer_container{
	margin-top: 50px;
   background: #037F8C;
   height: 50px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   margin-left: 0;
}